*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greylight: rgb(160, 160, 160);
    --black: rgb(0, 0, 0);
    --greydark: rgb(109, 109, 109);
}

html {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

/* Utility Classes */

body > div {
    display: flex;
    align-items: flex-start;
}

.col-header {
    flex-basis: 45px;
    height: 100vh;
    flex-grow: 0;   
    display: flex;
    flex-direction: column;
    align-content: center;

    padding-bottom: 4rem;
    background-color:var(--black);

}

.col-main {
    flex-basis: 80%;
    height: 100vh;
    flex-grow: 1;
    padding-bottom: 4rem;
    background-color: rgb(20, 25, 34);
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
}

.col-footer {
    width: 100%;
    min-height: 4rem;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 99;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Pre-format Tags */

i {
    font-size: .8rem;
    color: var(--greydark);
}

i.white {
    color: white;
}

i:hover {
    color: white;
    cursor: pointer;
}

a {
    color: var(--greydark);
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover {
    color: white;
}

h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

h2 {
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;

}

h3 {
    color: white;
    font-size: .7rem;
    font-weight: bolder;
}


h3.grey {
    color: var(--greylight);
}

h3.greydark {
    color: var(--greydark);
}


/* Header */

header div {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div:last-child  {
    padding-bottom: .5rem;
}

header div img {
    width: 20px;
    vertical-align: middle;
    filter: brightness(.8);
}

.logo > img {
    padding-bottom: .6rem;
    filter: brightness(1);
}

.logo-full {
    display: none;
}

header ul {
    list-style: none;
    padding-bottom: 1rem;
    
}
header ul span {
    display: none;
}

.user-functions li {
    padding-bottom: .5rem;
}

.user-panel a span {
    display: none;
}

.home {
    opacity: .9;
}

.green-bar-left {
    border-left: solid 3.5px greenyellow;
    display: inline-block;
    margin-left: -16px;
    padding-left: 0;
    margin-right: 10px;
    height: 25px;
    margin-bottom: -9px;
}

.user-panel {
    margin-top: auto;
}
.user {
    width: 25px;
    height: 25px;
    background-color: var(--greylight);
    border-radius: 50%;
    opacity: 1;
    padding-bottom: 0;
}

.user-name {
    color: white;
}

.download {
    width: 15px;
}
.playlist {
    display: none;
}

header div h3 {
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.playlist ul li {
    font-size: .7rem;
    line-height: 1.7rem;
}


.add-playlist > a {
    font-size: .8rem;
    padding-bottom: .5rem;
}


.add-playlist span {
    background-color: var(--greylight);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: .5rem;
}

.add-playlist i {
    padding-top: .5rem;
    font-size: 1rem;
    color: var(--black);
}

.add-playlist:hover .fa-plus {
    color:white;
}



/* Upgrade */

.cont-upgrade {
    width: calc(100% - 43px);
    flex-grow: 0;
    flex-shrink: 1;
    position: fixed;
    height: 5rem;
    background-color: rgb(0, 0, 0, .8);
    z-index: 98;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
    padding-bottom: 1rem;
}

.upgrade {
    border: solid 1px;
    border-radius: 1.4rem;
    padding: .7rem 3rem;
    
    
    vertical-align: middle;
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* Nav-Bar */

nav {
    padding-top: 5rem;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    padding: .7rem;
}

nav ul > li > a {
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
    vertical-align: middle;
}

.green-bar-bottom {
    margin: 0 auto;
    width: 25px;
    height: 1.5px;
    border-radius: 10px;
    background-color: greenyellow;
}

/* SONGS PLAYED AND SUGGESTED */

section {
    padding-top: 2rem;
    padding-left: 1rem;
}

.recently-played > h1 {
    padding-bottom: 1.5rem;
}

.subplaylist > h1 {
    padding-bottom: 1rem;
}

.subplaylist > h3 {
    padding-bottom: 2rem;
}

.cont-songs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    padding-right: 1rem;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-right: 1rem;
    padding-bottom: .7rem;
    text-align: center;

}

.song > img {
    width: 100%;
    padding-bottom: 1rem;
}

.song > h2 {
    padding-bottom: .5rem;
}

.artists img {
    border-radius: 50%;
}

/* Current Song */

.cont-current-song {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 27%;
    height: 4rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.cont-current-song > div {
    padding-right: .4rem;
}

.cont-current-song > div:first-child {
    min-width: 25px;
    max-width: 33px;
}

.cont-current-song > div img {
    width: 100%;
}

.cont-brano-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: .4rem;
}

.cont-brano-nome > h2 {
    font-size: .7rem;
}


.cont-brano-nome > h3 {
    font-size: .5rem;
}

.container-heart-folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:0;
}

.container-heart-folder > a {
    line-height: 1rem;
    padding-left: 1rem;
}



/* Player */

.player {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    flex-grow: 2;
}

.player-icons {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.player-icons a {
    font-size: 15px;
    padding-right: .5rem;
    padding-left: .5rem;
}

.player-icons .play i {
    font-size: 23px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.time-current-song {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: .5rem;
}

.time-current-song span {
    font-size: .5rem;
    padding-right: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.barra {
    background-color:var(--greydark);
    flex: 1 1 100%;
    height: 3px;
    border-radius: .3rem;
    position: relative;
}

.barra-completition {
    background-color: var(--greylight);
    position: absolute;
    width: 20%;
    border-radius: .3rem;
    height: 3px;
    bottom:0%;
    left: 0%;
}

.button-current-song {
    background-color: white;
    position: absolute;
    right: 0%;
    bottom: -3px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;
}

.barra:hover .button-current-song {
    display: inline-block;
}

.barra:hover .barra-completition {
    background-color: greenyellow;
}

/* Other Functions */

.other-functions {
    width: 27%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
}

.other-functions > a {
    padding-right: .5rem;
}

.other-functions .barra {
    flex-basis: 30%;
    flex-grow: 0;
}

@media screen and (min-width: 601px) {

    .col-header {
        flex-basis: 245px;
    }

    .cont-upgrade {
        width: calc(100% - 245px);
    }

    header div {
        align-items: flex-start;
        padding-left: 1rem;
    }

    .logo {
        padding: 0;
    }

    .logo-small {
        display: none;
    }

    .logo-full {
        display: inline-block;
        width: 120px;
        padding: 0;
    }

    header div img {
        width: 25px;
    }

    .user-functions span {
        display: inline-block;
        font-size: .7rem;
    }

    .add-playlist {
        display: inline-block;
    }

    header ul img {
        padding-right: .2rem;
    }

    .playlist {
        display: inline-block;
    }

    .user-panel a:first-child {
        vertical-align: middle;
        padding-bottom: .5rem;
    }

    .user-panel a span {
    display: inline-block;
    font-size: .7rem;
    padding-left: .5rem;
    }

    .download {
        padding: 0;
    }

    hr {
        width: 170px;
        border-color: var(--greydark);
        height: 1px;
        margin-bottom: .5rem;
    }
}


@media screen and (min-width: 701px) {
    .song {
        flex-basis: calc(100% / 4 - 1rem);
    }
}

@media screen and (min-width: 1101px) {
    .song {
        flex-basis: calc(100% / 6 - 1rem);
    }