*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greylight: rgb(177, 177, 177);
    --black: rgb(0, 0, 0);
}

html {
    font-family: 'Montserrat', sans-serif;
}

/* Utility Classes */

body > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-header {
    flex-basis: 45px;
    height: 100vh;
    flex-grow: 0;   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 4rem;
    /* deb */
    background-color:var(--black);

}

.col-main {
    flex-basis: 80%;
    height: 100vh;
    flex-grow: 1;
    padding-bottom: 4rem;
    background-color: rgb(20, 25, 34);
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
}

.col-footer {
    width: 100%;
    min-height: 4rem;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 99;
    /* deb */
    background-color: aqua;
}

/* Pre-format Tags */

i {
    font-size: ;
}

i.greydark {
    color: var(--greydark);
}

i.greylight {
    color: var(--greylight);
}

i.white {
    color: white;
}

a {
    color: var(--greylight);
    text-decoration: none;
    font-size: .8rem;
    display: inline-block;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

h2 {
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;

}

h3 {
    color: white;
    font-size: .7rem;
    font-weight: bolder;
}


h3.grey {
    color: var(--greylight);
}


/* Header */

header > div {
    text-align: center;
    vertical-align: middle;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div:last-child  {
    padding-bottom: .5rem;
}

header > div img {
    width: 20px;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

header > div > img:first-child {
    padding-bottom: .6rem;
}

header > div > img:nth-child(2) {
    opacity: .8;
}

.download {
    width: 20px;
}

.user {
    width: 25px;
    height: 25px;
    background-color: grey;
    border: solid grey;
    border-radius: 50%;
}

.user > img {
    width: auto;
    object-fit: contain;
    object-position: center;
    padding: 0;
}
/* Upgrade */

.cont-upgrade {
    position: fixed;
    height: 7rem;
    background-color: rgb(0, 0, 0, .8);
    z-index: 98;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 43px);
    padding-right: .5rem;
    padding-bottom: 1rem;
}

.upgrade {
    border: solid 1px;
    border-radius: 1.4rem;
    padding: .9rem 3rem;
    
    
    vertical-align: middle;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* Nav-Bar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8rem;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul > li {
    padding: .8rem;
}

ul > li > a {
    font-weight: 900;
    font-size: .8rem;
    text-transform: uppercase;
    vertical-align: middle;

}

/* SONGS PLAYED AND SUGGESTED */

section {
    padding-top: 2rem;
    padding-left: 1rem;
}

section > h1 {
    padding-bottom: 2rem;
}

.cont-songs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    padding-right: 1rem;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-basis: 50%;
    padding-right: 1rem;
    padding-bottom: .5rem;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;

}

.song > img {
    width: 100%;
    padding-bottom: 1rem;
}

.song > h2 {
    padding-bottom: .5rem;
}


@media screen and (max-width: 600px;) {
}

@media screen and (min-width: 601px) and (max-width: 700px;) {
}

@media screen and (min-width: 701px) and (max-width: 1100px;) {
}